@import "../config";

html {
	:where(.wp-block) {
		max-width: var(--site-width);
	}
}

.editor-styles-wrapper {
	@import "../config";
	@import "../global/base";
	@import "../partials/base";
	@import "../blocks/base";
	@import "../components/base";
	@import "../../../node_modules/flickity/dist/flickity.min.css";
	@include base-font-styles(true);
	background-color: var(--body-color);

	.wp-block-post-title {
		font-size: 4em;
	}
}
