@mixin btn-style-1() {
	display: inline-block;
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	font-weight: var(--btn-font-weight);
	line-height: var(--btn-line-height);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 30px;
	border: var(--base-border);
	box-shadow: none;
	color: var(--btn-text-color);
	background: var(--btn-background);
	transition: all var(--btn-duration) var(--btn-timing);
	user-select: none;
	vertical-align: middle;
	appearance: none;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	font-family: var(--base-font-family);
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	&:hover {
		color: var(--btn-text-color-hover);
		background: var(--btn-background-hover);
		background-color: var(--color-2);
		color: #e5e5e5;
	}
	&:focus {
		outline: var(--focus-outline);
		outline-offset: var(--focus-outline-offset);
	}
	@media screen and (max-width: 768px) {
		display: block;
		width: 100%;
		max-width: 290px;
	}
}

#{$all-buttons} {
	@include btn-style-1();
}

.buttons,
button {
	position: relative;
}
