*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	background-color: var(--color-3);
}

body {
	margin: 0;
}

@mixin wrapper() {
	max-width: var(--site-width);
	width: 100%;
	margin: auto;
	padding: 0 20px;
	position: relative;
}

.wrapper,
.wp-block-group__inner-container {
	@include wrapper();
}

.block {
	margin-bottom: 100px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 100px;
	}
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
	position: absolute;
	right: 999999999px;
	width: 0;
	height: 0;
	opacity: 0;
}

.align-left,
.text-align-left {
	text-align: left;
}

.text-align-center,
.align-center {
	text-align: center;
}

.align-right,
.text-align-right {
	text-align: right;
}

.block {
	&.content-left {
		.row {
			flex-direction: row;
		}
	}
	&.content-right {
		.row {
			flex-direction: row-reverse;
		}
	}
}

.block {
	.flickity-button {
		background: var(--color-6);
		color: var(--color-10);
		border: none;
		border-radius: 0;
		padding: 20px;

		@media screen and (max-width: 768px) {
			width: 44px;
			height: 44px;
		}
	}

	.flickity-prev-next-button {
		&.next {
			right: -20px;
		}
		&.previous {
			left: -20px;
		}
	}
}

@mixin full-width() {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.full-width {
	@include full-width();
}
